In [1]:
import pandas as pd

city_df = pd.read_csv("https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/latimes-place-totals.csv")
city_df.x = city_df.x.abs() * -1  # Correcting a mistake in longitude
city_df.x = city_df.x.fillna(0)
city_df.y = city_df.y.fillna(0)
city_df

,date,county,fips,place,confirmed_cases,note,x,y
0,2020-04-08,Alameda,1,Alameda,18,NaN,-122.274444,37.756111
1,2020-04-08,Alameda,1,Albany,1,9 or fewer,-122.297778,37.886944
2,2020-04-08,Alameda,1,Berkeley,30,NaN,-122.272778,37.871667
3,2020-04-08,Alameda,1,Dublin,14,NaN,-121.935833,37.702222
4,2020-04-08,Alameda,1,Emeryville,1,9 or fewer,-122.285278,37.831389
...,...,...,...,...,...,...,...,...
26755,2020-05-07,Yolo,113,Woodland,84,NaN,-121.773333,38.678611
26756,2020-05-08,Yolo,113,Davis,19,NaN,-121.738056,38.553889
26757,2020-05-08,Yolo,113,West Sacramento,58,NaN,-121.530278,38.580556
26758,2020-05-08,Yolo,113,Winters and unincorporated,11,NaN,-121.970833,38.525000
26759,2020-05-08,Yolo,113,Woodland,84,NaN,-121.773333,38.678611

New python package for finding zipcode called uszipcode
Can find zipcode based on coordinates
https://pypi.org/project/uszipcode/

In [2]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
result = search.by_coordinates(38.678611, -121.773333, radius=30, returns=1)
result[0]
#int(result[0].zipcode)

SimpleZipcode(zipcode='95776', zipcode_type='Standard', major_city='Woodland', post_office_city='Woodland, CA', common_city_list=['Woodland'], county='Yolo County', state='CA', lat=38.7, lng=-121.7, timezone='Pacific', radius_in_miles=11.0, area_code_list=['530'], population=21902, population_density=237.0, land_area_in_sqmi=92.43, water_area_in_sqmi=1.12, housing_units=6824, occupied_housing_units=6464, median_home_value=248000, median_household_income=61599, bounds_west=-121.781382, bounds_east=-121.629202, bounds_north=38.803028, bounds_south=38.553296)

Look for zipcode for the dataframe

In [3]:
def search_zip(df):
    if df.y == 0:
        return 0
    result = search.by_coordinates(df.y, df.x, radius=30, returns=1)
    return int(result[0].zipcode)

# new = city_df[0:20].apply(lambda df: search.by_coordinates(df.y, df.x, radius=30, returns=1), axis=1)
city_df['zip'] = city_df.apply(lambda df: search_zip(df), axis=1)
city_df

,date,county,fips,place,confirmed_cases,note,x,y,zip
0,2020-04-08,Alameda,1,Alameda,18,NaN,-122.274444,37.756111,94501
1,2020-04-08,Alameda,1,Albany,1,9 or fewer,-122.297778,37.886944,94706
2,2020-04-08,Alameda,1,Berkeley,30,NaN,-122.272778,37.871667,94703
3,2020-04-08,Alameda,1,Dublin,14,NaN,-121.935833,37.702222,94568
4,2020-04-08,Alameda,1,Emeryville,1,9 or fewer,-122.285278,37.831389,94608
...,...,...,...,...,...,...,...,...,...
26755,2020-05-07,Yolo,113,Woodland,84,NaN,-121.773333,38.678611,95776
26756,2020-05-08,Yolo,113,Davis,19,NaN,-121.738056,38.553889,95618
26757,2020-05-08,Yolo,113,West Sacramento,58,NaN,-121.530278,38.580556,95605
26758,2020-05-08,Yolo,113,Winters and unincorporated,11,NaN,-121.970833,38.525000,95694
26759,2020-05-08,Yolo,113,Woodland,84,NaN,-121.773333,38.678611,95776

In [4]:
city_df.to_csv("city_data.csv", index=False)